.km-footer{background:red !important}
.km-footer a{color:yellow !important}
span.km-text{font-size:40px}

.km-header{font-size: 30px;background: green;}
.km-view-title{color:red !important}

.km-android .km-view-title,.km-text,.km-icon,.km-text
{
    visibility: visible;
}


.km-android #home .km-tabstrip a
{
 color: #a8a8a8;
}
.km-android #home .km-tabstrip .km-text
{
height: 3.7rem;
padding-top: 1.8rem;
text-indent: 0;
font-size:0.9em;
}
